main {
  background-color:lightBlue;
  width: 80%;
  margin:0 auto;
}
/* BURGER CSS ANIMATIONS */

.burger {
  width:100px;
  height:100px;
  position:absolute;
  border-radius: 100px;
  animation-name: fall;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display:inline-block;
}

.burger img{
  height:100px;
  width:100px;
}

#b1 {
  position:absolute;
  left:20%
}

#b2 {
  position:absolute;
  left:45%;
}

#b3 {
  position:absolute;
  left:70%
}

@keyframes fall {
  from {top: -100px;}
  to {top: 900px;}
}

/* SLOTH CSS ANIMATIONS */

#sloth {
  position:absolute;
  margin: 0 auto;
  bottom:10px;
  height: 100px;
  width: 100px;
}

#sloth img {
  height:100px;
  width:100px;
}
