/* fonts */
/* font-family: 'Freckle Face', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Kranky', cursive;
font-family: 'Snowburst One', cursive; */

/* COLORS
BLUE: #00C8F8
AQUA: #59C4C5
YELLOW: #FFC33C
CREAM: #FBE2B4
PINK: #FF4C65
GREEN: #BCCF02
*/

html {
  background: url('../images/jungle-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* MODAL */

#modalGame {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modalStart {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.sun {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color:white;
  text-align:right;
  display:inline-block;
  position:fixed;
  top:10px;
  right:30px;
}

.sunImg {
  display:inline-block;
  position:fixed;
  z-index: -3;
  top:-220px;
  right:-200px;
  height:400px;
}
.sunImg:hover {
  display:inline-block;
  position:fixed;
  z-index: -3;
  top:-220px;
  right:-200px;
  height:400px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.countdown {
  font-size:500px;
  color:#FFC33C;
  font-family: 'Kranky', cursive;
  position: fixed;
  top: 0%;
  left: 36%;
}

/* MODAL CONTENT */
.modal-start-content {
  color:white;
  border-radius:10px;
  font-family: 'Snowburst One', cursive;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  background-color: #BCCF02;
  opacity:0.9;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 3px dotted white;
  width: 40%;
}

.play-btn {
  background-color: #BCCF02;
  color:white;
  border-radius:5px;
  width:16%;
  opacity:0.9;
  position:fixed;
  left:40px;
  bottom:400px;
  font-family: 'Snowburst One', cursive;
  padding:20px;
  border: 3px dotted white;
  font-size:30px;
}

.modal-content {
  color:white;
  border-radius:10px;
  font-family: 'Snowburst One', cursive;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  background-color: #BCCF02;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 3px dotted white;
  width: 40%;
}

.modal-content p {
  padding-top:20px;
  padding-bottom:20px;
}

.leaderboard-content {
  position:fixed;
  left:40px;
  bottom:40px;
  color:white;
  border-radius:10px;
  font-family: 'Snowburst One', cursive;
  font-size:30px;
  font-weight:bold;
  text-align:justified;
  background-color: #FF4C65;
  opacity: 0.8;
  padding: 10px;
  border: 3px dotted white;
  width: 14%;
}
.leaderboard-content:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.leaderboard-content table {
  font-size:20px;
  align-items: center;
  margin: 0 auto;
  padding-bottom:10px;

}
.leaderboard-content h2 {
  font-size:30px;
  margin:15px;
  padding-bottom:10px;
}
.leaderboard-content td {
  padding:5px;
}

span {
  font-family: 'Snowburst One', cursive;
}

.social-buttons {
  right:40px;
  bottom:40px;
  padding:4px;
  display: inline-block;
  position:fixed;
  color:white;
  border-radius:10px;
  text-align:left;
  background-color: #FFC33C;
  opacity: 0.8;
  border: 3px dotted white;
  width: 10 %;
}

.social-buttons img {
  border-radius:10px;
  height:50px;
  margin:7px;
}

.modal-start-content input {
  border-radius:5px;
  margin-top: 30px;
  margin-bottom:30px;
  width:300px;
  height:30px;
  font-size:15px;
  padding-left:10px;
  color:grey;
}

.modal-start-content input:focus {
  outline:none;
}

.modal-start-content h2 {
  font-size: 50px;
  margin:10px;
}
.modal-start-content p {
  margin-top:20px;
  font-size: 18px;
}

.modal-content button, .modal-start-content button {
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  background-color:#00C8F8;
  border-radius:3px;
  border:none;
  padding: 10px 20px;
  /* margin-top:70px */
  margin-left:20px;
  margin-right:20px;
}

h2.score {
  color:white;
  font-size:60px;
  text-align:left;
  margin-top:40px;
  margin-left:100px;
  font-family: 'Freckle Face', cursive;
  z-index: 1;
}

/* BURGER CSS ANIMATIONS */

.burger {
  width:100px;
  height:100px;
  position:absolute;
  border-radius: 100px;
  animation-name: fall;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display:inline-block;
  z-index: -1;
}

.carrot {
  width:100px;
  height:100px;
  position:absolute;
  border-radius: 100px;
  animation-name: fall;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display:inline-block;
  z-index: -1;
}

.carrot img {
  height:60px;
}

.burger img {
  height:100px;
  width:100px;
}

#b1 {
  position:absolute;
  left:20%
}

#c1 {
  position:absolute;
  left: 30%;
}

#b2 {
  position:absolute;
  left:45%;
}

#c2 {
  position:absolute;
  left: 54%;
}

#b3 {
  position:absolute;
  left:70%
}

@keyframes fall {
  from {top: -100px;}
  to {top: 900px;}
}

/* SLOTH CSS ANIMATIONS */

#sloth {
  position:absolute;
  margin: 0 auto;
  bottom:10px;
  height: 100px;
  width: 100px;
}

#sloth img {
  height:100px;
  width:100px;
}

 img.heart {
  z-index: -2;
  position:fixed;
  top:5%;
  left:25%;
  display:inline-block;
  height:650px;
  align-items: center;
  margin: 0 auto;
}
img.homeSloth{
  height:270px;
  display:inline-block;
  position:fixed;
  top:18%;
  left:49%;
}
img.homeSloth:hover {
  display:inline-block;
  position:fixed;
  top:18%;
  left:49%;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
